/* 이서윤체 폰트 적용을 위한 코드 */
@font-face {
  font-family: "LeeSeoyun";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2202-2@1.0/LeeSeoyun.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* body태그 자체에 css 요소 부여 */
body {
  font-family: "LeeSeoyun";
  margin: 0;
  display: flex;
  justify-content: center;
  background-image: url("./background.png");
}

#image1 {
  background-image: url("https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAyMjEyMzFfNDEg%2FMDAxNjcyNDkyNDEzNDI0.6tMbg586y_FzvBeKzXdGThXzcD6L2wd3Z6Ug5GJ9ZMog.5RA1Bqj1oQM11xyYXFPLhwTcxaaF1Mb5p7E-DfLFJJMg.JPEG.dltpdud03%2FPicsart%25A3%25DF22%25A3%25AD12%25A3%25AD31%25A3%25DF22%25A3%25AD04%25A3%25AD33%25A3%25AD624.jpg&type=sc960_832");
}

#image2 {
  background-image: url("https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAyMjA4MDdfNTUg%2FMDAxNjU5ODYyNjg4OTE4.x7LyxcpRfyuTlJqcJV0tARyMXUIuK2yUXa78bG9g4SEg.DDAXqBPga8Ss4-CZv5hn5JRWh9rHpXoVCP0oe2SIMpog.JPEG.vkflwpssm%2FIMG_1694.JPG&type=sc960_832");
}

#image3 {
  background-image: url("https://media.gucci.com/content/DiaryArticleSingle_Standard_768x1075/1638871210/DiaryArticleSingle_kr-iu-story-04_001_Default.jpg");
}

.photos {
  margin-top: 30px;
}

.photo-frame {
  background-color: white;
  margin: 15px 20px;
  height: 20em;
  background-size: cover;
  position: relative;
  cursor: pointer;
}

.container {
  width: 390px;
  background-color: crimson;
  height: 100%;
}

.photo-description {
  color: white;
  background-color: black;
  width: fit-content;
  padding: 0 20px;
  margin-bottom: 10px;
  border-radius: 10px;
  position: absolute;
  bottom: 0;
  transform: translate(-50%);
  left: 50%;
  opacity: 0;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.f-title {
  font-size: 25px;
  font-weight: 900;
  color: white;
}

.f-date {
  font-size: 15px;
  font-weight: 500;
  color: white;
}

/* opacity : 투명도를 의미해요! opacity는 1에 가까워 질 수록 불투명하다. 즉 다 보인다. */
.showText {
  opacity: 1;
  transition: opacity 0.5s linear;
}

/* opacity : 투명도를 의미해요! opacity는 0에 가까워 질 수록 투명하다. 즉 안보인다. */
/* transition : 나타날 때 0.5초동안 천천히 나타나는 효과를 주라는 의미에요 */
.hideText {
  opacity: 0;
}